body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}